{% extends 'base.html' %}

{% block content %}
<title>About Us</title>
<div>
    <marquee behavior="scroll" direction="left" scrollamount="12" style="background-color: black;">
        <h1 style="text-align: left; color: white; font-family: Georgia, 'Times New Roman', Times, serif;">* * * History
            of Bangladesh Police * * *</h1>
    </marquee>
    <h1 style="text-align: center; background-color: cornsilk; color: black;">BANGLADESH POLICE</h1>
</div>

<div class="row">
    <p
        style="font-size: large; padding: 50px; text-align: justify; max-width: 100%; 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; background-color: white; color: black;">
        <b>Chronology :</b>
        Bangladesh Police is the core law enforcement agency of Bangladesh. It is administered under the Ministry of
        Home Affairs of the Government of Bangladesh. It plays the prime and pivotal role in maintaining law and order
        of the state. Though police is primarily concerned with maintaining law and order assuring security of public
        life and property.

        In Bangladesh, the formal and organized policing with varieties of activities as of today has come to this stage
        through lots of evolutions and developments across the long time.
        <br>
        <br>

        <b>British Period:</b>

        The establishment of a systaematic police force in England was of slow growth and came into effect after its
        creation abroad. In the early stage of Industrial Revolution when England was facing grave crisis due to
        socioeconomic transformation, the necessity of an effective organized police service was keenly felt. Sir Robert
        Peel, the then Prime Minister introduced a bill in the British Parliament in 1829 which created an organized
        civil police in the nearby London Metropolis. Initially there were some opposition to the existence of this
        uniform police but the success of the London police in controlling social disorder and crime captured
        imagination of not only the people of England but also of the whole Europe and America. New York city copied the
        London model with some modifications when it organized the first Municipal Police Force 1833.

        The history and heritage of Bangladesh Police is marked by the blend of the traits of colonial- imperial rule
        and the system of internal security of a feudal society. The philosophy of police of the British regime had
        never been complementary to democratic values and political development. The British who ruled this country had
        a twisted idea of using police as an instrument of coercion for their own interest by subtly branding it as
        “myrmidon of law”. The police system introduced during that period was governed more by consideration of
        maintaining control of dictatorial rule rather than providing service to the people. The Police Act, 1861
        enabled to form a well-organized and well-structured police force only to serve the interest of the colonial
        masters.
        <br><br>
        <b>Pakistan Period:</b>

        After the partition of the Sub-continent in 1947, police force in Bangladesh was first named as East Bengal
        Police and then as East Pakistan Police and it continued to function as provincial police force in the same
        lines as it was during the British rule.

        However, the police force of Pakistan continued the system of British period. Police were compelled to carry out
        unpopular orders. The act of shooting on the participants of language movement demonstration in 1952 was a
        glaring example of colonial rule and suppression.
        <br><br>
        <b>Role of Police in Liberation War:</b>

        The most glorious chapter of the history of Bangladesh Police is that Bangla speaking members of our police
        participated along with the citizens in our Independence War. The resistance by the Bengali members of police at
        Rajarbag is basically the first chapter of armed struggles during our War of independence. Many police personnel
        embraced martyrdom on 25 March 1971 fighting bravely with mere .303 rifles against the Pakistani invaders.
        During the liberation war a large number of police officers from all ranks including a Deputy Inspector General,
        some senior Superintendents of Police and many other gave their lives for the cause of liberation. The name and
        address of 1262 police officers of different ranks could be listed who sacrificed their lives for the
        independence of Bangladesh during the liberation war.
        What is more to be mentioned with pride, Mr. Mahbubuddin Ahmed, Bir Bikram, who was the Sub-Divisional Police
        Officer (SDPO) of Jhenaidah at that time, led the historic guard of honors given to the members of the
        Mujibnagar Cabinet when the provisional Government of Bangladesh took oath on the auspicious day of April 17,
        1971 during liberation war. All these go to show that our police has been inseparably bound up with the
        umbilical cord with their motherland and fellow countrymen.
        <br><br>
        <b>Bangladesh Period:</b>

        After the emergence of Bangladesh as an independent country on 16 December 1971, the existing police force of
        Bangladesh got remodeled and reshaped as Bangladesh Police and assumed the role of a national police force.
        Bangladesh Police is primarily responsible for the preservation of peace and order, protection of life and
        property of the people and prevention and detection of crime within the periphery of the state. The traditional
        role of police in Bangladesh has undergone significant changes after the liberation. The role of police, at the
        moment, is no longer confined to maintenance of law and order and prevention and detection of crime. Apart from
        the mandatory works that needs to be done, there are manifold problems that need taking care of. To meet the
        need of an independent and developing country, the police is now required to play a significant role in the
        development process by providing the basic security required for sustained economic growth of the country.
        Police also is contributing substantially in this field by keeping under control the economic and techno-crimes
        which retard the process of the development. It is further playing a vital role in disaster management,
        environment, ecotourism, bio-diversity conservation and so on, which have got enormous impact on state economy
        and development.

        Bangladesh police, the single most institution entrusted with the responsibility of ensuring rule of law and
        human rights, is at a cross-road to promote itself to a height to adopt the role of service rather than force,
        devoted to providing reassurance of service delivery, flexibility to community wishes, cares and social justice.

        It strives to track citizen’s engagement in policing and theiaczr quest for better service, better value and
        better management. It envisages a new structure erected on the bedrock of information and communication
        technology, skill adequacy, knowledge-based initiatives and community partnership that will be styled on a
        schema of cascading change to set a stage for a clear interface between police and citizenry.

        It tends to explore innovative practices in addressing the challenges of the time and reorienting its mission
        and vision and augment its capacity towards citizen centric service, to uphold professionalism, image and
        visibility of the service and the value and virtue of the service to the community.
    </p>
</div>
<div style="background-color: black;">
    <marquee behavior="scroll" direction="left" scrollamount="12">
        <h2 style="color:burlywood; font-family: Georgia, 'Times New Roman', Times, serif;">
            - - - Organogram of Bangladesh Police - - -</h2>
    </marquee>
    <img class="row" style="margin-left: auto; margin-right: auto; height: 50%; width: 75%;" src="/static/assets/images/about_police.png" alt="About Police">
</div>
{% endblock %}